*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #134611; /* Primary color */
    color: #fff;
    padding: 15px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    margin: 0;
    font-size: 24px;
    color: #96E072; /* Logo color */
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #3DA35D; /* Hover color */
}

.active {
    font-weight: bold;
    color: #E8FCCF; /* Active link color */
}
